<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-12">

<%= simple_form_for(@resident) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="form-inputs col-xs-8">
      <%= f.association :village %>
    </div>
  </div>
  
  <div class="row">
          <div class="form-inputs col-xs-6">
            <%= f.input :surname %>
          </div>
          <div class="form-inputs col-xs-6">
          <%= f.input :first %>
          </div>
    </div>
    <div class="row">
      <div class="form-inputs col-xs-6">
        <%= f.input :email %>
      </div>
    
      <div class="form-inputs col-xs-6">
        <%= f.input :phone %>
      </div>
    </div>

    <div class="row">
      <div class="form-inputs col-xs-6">
        <%= f.input :address %>
      </div>
    </div>

    <div class="row">
      <div class="form-inputs col-xs-6">
          <%= f.input :suburb %>
        </div>
        <div class="form-inputs col-xs-6">
          <%= f.input :postcode %>
      </div>
    </div>

    <div class="row">
      <div class="form-inputs col-xs-4">
      <%= f.input :datereceived, as: :date, html5: true %>
      </div>
      <div class="form-inputs col-xs-4">
      <%= f.input :dateaccepted, as: :date, html5: true %>
      </div>
    </div>
    <div class="row">
      <div class="form-inputs col-xs-4">
      <%= f.input :dateceased, as: :date, html5: true %>
      </div>
      <div class="form-inputs col-xs-8">
      <%= f.input :comment %>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="form-inputs col-xs-6">
      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    </div>
  </div>

<% end %>
</div>
</div>
